.headerContainer {
    display: flex;
    height: 100%;
    background-color: var(--headerLeftBackground);
}

.headerLeftSide {
    display: flex;
    padding-left: 2rem;
    width: 90%;
    font-family: var(--font-fontFamily), var(--font-fontStyle);
    font-size: var(--font-size-headLineLarge);
    color: var(--headerText);
    align-items: center;

}

.headerRightSide {
    width: 10%;
    height: 100%;
}

.headerContactButton {
    display: flex;
    align-self: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 5%;
    border: black 2px solid;
    align-items: center;
    background-color: #416E87;
    font-size: 3rem;
    font-family: var(--font-fontFamily), var(--font-fontStyle);
    color: var(--buttonText);
}
