
.mainPageContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mainPageTop {
    /*display: grid;*/
    /*grid-template-rows: 1fr 1fr;*/
}

.mainPageBottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-evenly;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    width: 100%;
    height: 100%;
    border-left: #0d211222 solid 1px;
    background-color: var(--main);
}

#image {
    height: var(--image-size-logoImages);
    height: var(--image-size-logoImages);

}

#javaImage {
    padding-top: 0.7rem;
    width: 150px;
    height: 150px;
}

#imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainPageTopContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.javaFullstackText {
    font-size: var(--font-size-headLineMedium);
    font-weight: bold;
    /*font-family: var(--font-fontFamily), var(--font-fontStyle);*/
    font-family: "JetBrains Mono", sans-serif ;
}

#developer {
    font-weight: normal;
}

#javaDeveloperImage {
    margin-left: 10rem;
}

.headlineText {
    font-size: var(--font-size-headLineLarge);
    font-family: var(--font-fontFamily), var(--font-fontStyle);
    color: #626262;
    /*font-weight: lighter;*/
    text-shadow: 5px 5px 10px #3a3a3a;
    /*margin-left: 10rem;*/
    margin-top: 1rem;
    /*align-self: center;*/
}
#subHeadlineText {
    font-size: var(--font-size-headLineMedium);
    text-shadow: 3px 3px 10px #3a3a3a;
}

.middleContainer {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    /*padding: 8rem;*/
    background-color: var(--main);
    justify-items: center;
}

.middleCard {
    display: flex;
    margin: 4rem;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: #3a3a3a solid 4px;
    height: 516px;
    width: 684px;
}

.cardImage{
    /*border: #3a3a3a solid 4px;*/
    filter: blur(3px);
    height: 512px;
    width: 680px;
    justify-content: center;

}

.aboutCardHeadline {
    font-size: var(--font-size-headLineMedium);
    font-family: var(--font-fontFamily), var(--font-fontStyle);
    color: #626262;
    ;
}

.aboutCardText {
    filter: blur(2px);
}

